@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div>
            <h1>Details</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div>
            <h6>Title</h6>
        </div>
        <div>
            <h6>runTime</h6>
        </div>
        <div>
            <h6>releaseDate</h6>
        </div>
        <div>
            <h6>rating</h6>
        </div>
        <div>
            <h6>description</h6>
        </div>
        <div>
            <h6>genre</h6>
        </div>
        <div>
            <h6>director</h6>
        </div>
        <div>
            <h6>cast</h6>
        </div>
    </div>

    <hr />

    <div class="col-sm-6 col-md-4">
        <a asp-action="Delete" class="btn btn-danger" style="width: 100px;">Delete</a>
    </div>

    <hr />

    <div>
        <a asp-action="Index">Back to list</a>
    </div>

</div> 